@import 'base';
@import 'icons';

// Theme colors

$shadow: rgba(0,0,0,0.1);
$not-quite-faded-elements: #6a6a6a;
$faded-elements: #8f8f8f;
$unfaded-elements: #5c5c5c;
$not-quite-black: #404040;
$lighter-background: #fbfbfb;
$light-background: #efefef;
$light-background-hover: #e6e6e6;
$main-button-background: #ffffff;
$main-button-background-hover: #f5f5f5;
$main-button-border: #0098C9;

@mixin clear-floats {  
  clear: both;
  height: 0;
  width: 100%;
  content: '';
  display: block;
}

a, a:visited {
  text-decoration: none;
  color: $faded-elements;
}

a:hover {
  color: $unfaded-elements;
}

.main-column {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 1rem;
}

.inner-column {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 1rem;
}

.site-title a, .entry-title, .entry-title a, .widget-title {
  color: $not-quite-black;
  font-size: 1.5rem;
  font-weight: 600;
}

.site-header {
  box-shadow: 0 3px 2px -2px $shadow;
  margin-bottom: 2rem;
  padding: 0.7em 0;
  width: 100%;

  .site-title a {
    font-size: 1.7rem;
  }

  .site-description {
    color: $not-quite-black;
    font-size: 0.8rem;
  }

  .site-branding {
    float: left;
  }

  .search-container {
    float: right;

    input[type="submit"] {
      display: none;
    }

    input[type="search"], input[type="search"]:focus {
      border: none;
      border-bottom: 1px solid $faded-elements;
      border-radius: 0px;
      outline: none !important;
    }

    label {
      display: inline-block;
      overflow: hidden;
      padding-left: 10px;
      vertical-align: middle;
      width: 1px;
    }

    .icon-search {
      color: $faded-elements;
      display: inline-block;
      height: 16px;
      vertical-align: middle;
    }

    .icon-search:hover {
      color: $unfaded-elements;
    }
  }

  .title-search-wrapper:after {
    @include clear-floats;
  }

  .main-navigation {
    .menu {
      margin-top: 1rem;
  
      ul {
        list-style: none;
        overflow: hidden;
  
        li {
          float: left;
          padding-right: 20px;
          overflow: visible;
          
          a {
            font-size: 0.8rem;
            font-weight: 500;
            text-transform: uppercase;
          }

          ul {
            background-color: $lighter-background;
            display: none;
            margin: 0;
            padding: 0 5px;
            position: absolute;

            li {
              float: none;
            }
          }
        }
  
      }
    }
  }  
}

.content-area {
  header {
    @extend .inner-column;
    margin-bottom: 1rem;

    .search-form {
      margin-bottom: 4rem;

      input[type="search"], input[type="search"]:focus {
        border: none;
        border-bottom: 1px solid $faded-elements;
        border-radius: 0px;
        color: $not-quite-faded-elements;
        font-size: 3rem;
        font-weight: 300;
        outline: none !important;
        width: 100%;
      }

      input[type="submit"] {
        display: none;
      }
    }
  }

  header:after {
    @include clear-floats;
  }

  article {
    margin-bottom: 4rem;

    .entry-header {
      margin-bottom: 1rem;
    }

    .entry-meta {
      font-size: 0.7rem;
    }

    .featured-image-small {
      @extend .inner-column;
      height: 200px;
      margin-bottom: 1rem;
      overflow: hidden;
      text-align: center;

      img {
        margin: 0 auto;
      }
    }

    // Big featured image
    .featured-image {
      overflow: visible;
      margin-bottom: 2rem;
      text-align: center;

      img {
        max-width: 100%;
      }
    }

    .entry-content, .entry-summary {
      @extend .inner-column;
      clear: both;
      font-family: $content-font;
      font-size: 1.3rem;

      h1, h2, h3, h4, h5 {
        margin-bottom: 1rem;
      }

      ul, ol {
        margin: 0;
        margin-bottom: 1rem;
        padding: 0 3rem;
      }

      p, blockquote, ul {
        margin-bottom: 2rem;
      }

      blockquote {
        border-left: 2px solid $not-quite-faded-elements;
        color: $not-quite-faded-elements;
        font-style: italic;
      }

      a {
        text-decoration: underline;
      }

      code {
        background-color: $light-background;
        display: inline-block;
        padding: 0 10px 0 5px;
      }
    }

    .entry-footer {
      @extend .inner-column;
      font-size: 0.7rem;
    }
  }

  .no-results, .not-found {
    p {
      @extend .inner-column;
      font-family: $content-font;
      font-size: 1.3rem;
      margin-bottom: 2rem;
    }
  }

  .page-header {
    color: $not-quite-faded-elements;
    margin-bottom: 3rem;
  }
}

.widget ul {
  list-style: none;
}

.more-link-p {
  text-align: center;

  a {
    font-family: $main-font;
    font-size: 1.2rem;
  }
}

.tags-links, .cat-links {
  color: $faded-elements;
  margin: 5px 0;

  a[rel~="tag"] {
    background-color: $light-background;
    border-radius: 2px;
    color: $not-quite-faded-elements;
    display: inline-block;
    padding: 4px 6px;
  }

  a[rel~="tag"]:hover {
    background-color: $light-background-hover;
  }
}

@mixin shaded-box {
  border: 1px solid $shadow;
  border-radius: 3px;
  box-shadow: 0 1px 4px $shadow;
}

.comments-area {
  @extend .inner-column;
  max-width: 600px;

  .comments-title {
    color: $not-quite-faded-elements;
    font-size: 1rem;
    font-weight: 500;
  }

  ul {
    list-style: none;
  }

  p {
    margin: 0.4rem 0;
  }

  p.comment-form-comment textarea, p.comment-form-comment textarea:focus, input {
    border: none;
    outline: none !important;
    padding: 0;
    resize: none;
  }

  p.comment-form-comment, input {
    @include shaded-box;
    height: 58px;
    padding: 1rem;
  }

  input[type="submit"] {
    color: $main-button-border;
    background-color: $main-button-background;
    border-color: $main-button-border;
    border-radius: 5px;
    height: 25px;
    line-height: 0px;
  }

  input[type="submit"]:hover {
    background-color: $main-button-background-hover;
  }

  .comment-form-author {
    float: left;
    width: 49%;

    input {
      width: 100%;
    }
  }

  .comment-form-email {
    @extend .comment-form-author;
    float: right;
  }

  .comment-form-url {
    clear: both;

    input {
      width: 100%;
    }
  }

  .name-email-wrapper:after, .user-info:after, .comment-meta:after {
    @include clear-floats;
  }

  .user-info {
    margin-bottom: 1rem;

    span {
      color: $main-button-border;
      float: left;
      font-size: 0.9rem;
      height: 32px;
      line-height: 32px;
      margin-left: 10px;
    }

    img {
      float: left;
    }
  }

  .comment-respond {
    margin-bottom: 2rem;
  }

  .comment-list {
    .comment-meta {
      margin-bottom: 1rem;
    }

    .user-info {
      float: left;
      margin-bottom: 0;
    }

    .comment-metadata {
      float: right;
      font-size: 0.7rem;
    }

    .comment-content {
      clear: both;
    }

    li.depth-1 {
      @include shaded-box;
      margin-bottom: 2rem;

      article {
        margin: 0;
        padding: 1rem;
      }

      ul.children {
        border-top: 1px solid $shadow;
        margin: 0;
      }
    }

    .reply {
      float: right;
      position: relative;
      top: -15px;
    }
  }
}

// Since the theme takes the placeholders from the wordpress comment form using
// javascript, it's better to hide these so they don't show for just a second
#write-response, #commentForm label {
  display: none;
}

img.avatar {
  border-radius: 50%;
  width: 32px;
}